<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Server Installer">
	
	<listeners>
    	<listener class-name="com.core.base.TestListener" />
  	</listeners>
	

  	<test name="Deafult Installer">
    <classes>
       	<class name="server.installer.InstallSanitySuite" >
       		<methods>
       			<include name="flatInstall"></include>
       		</methods>
       	</class>
    </classes>
  </test>
  
  
  
  
 
  
</suite> 